@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(51 65 85);
  border-radius: 9999px;
}
